@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Zen+Antique&display=swap");

a{
    z-index: 10;
    position: fixed;
    top: 0;
}

*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to left top,#0487D9, #7E60BF);
    font-family: "Poppins", sans-serif;
}

#container{
    position: absolute;
    top: -80px;
    background-color: #38d6b9;
    font-size: 2.4rem;
    font-weight: 60px;
    padding: 4rem;
    border-radius: 0.5rem;
    width: 1000px;
    min-height: 600px;
    max-width: 90%;
    box-shadow: 1px 5px 6px #F29F05;
}

#container , #type-input{
    margin-top: 4rem;
    font-size: 3rem;
}

#timer{
    position: absolute;
    top: 2rem;
    font-size: 5rem;
    font-weight: bold;
    color: rgb(202, 82, 87);
}
#type-display{
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#type-input{
    background: transparent;
    border: 5px solid #F29F05;
    outline: none;
    width: 100%;
    height: 14rem;
    margin: auto;
    resize: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}

#type-input:focus{
    border: 5px solid rgb(0,0,0);
}

.c{
    color: #0487D9;
}
.inc{
    color: #D92B04;
}

#keyboard{
    position: absolute;
    top: 800px;
    background: linear-gradient(to left,  #b5b5b5,#8f8f8f);
    width: 1800px;
    height: 700px;
    border-radius: 0.5rem;
}
.key{
    border: #363636 1px solid;
    color: #fff;
    background-color: #494b4f;
    text-align:center;
    margin: 10px;
    border-radius: 0.3rem;
    font-size: 30px;
    font-weight: normal;
    display: block;
}
.key-{
    display: flex;
}
.h5{
    height: 48px;
    line-height: 48px;
}

.h10{
    height: 98px;
    line-height: 98px;
}

.w5{
    width: 48px;
}

.w10{
    width: 98px;
}

.yubi{
    width: 100px;
    height: 300px;
    border-radius: 8px;

    margin-right: 20px;
}

.yubi-a{
    background-color: #494b4f;
}

#yubi-div{
    display: flex;
    margin-left: 130px;
}
.oyayubi{
    width: 240px;
    height: 300px;
    border-radius: 8px;

    background-color:transparent;
}
